body {
	/*background-color: black;*/
	background-image:url('../img/noisy-texture-black.png');
	padding: 25px;
}

canvas {

	/*background-image:url('../img/noisy-texture-deep-blue.png');
*/	
	background-color: black;

	border:solid 1px #00FFFF;
	/*set center*/
	margin-left: auto;
	margin-right: auto;
	display: block;
}