body {
	background-color: black;
	padding: 25px 0px 0px 0px;
	margin: 0;
	
}

#game-canvas {
	background-color: black;
	border:solid 1px #00FFFF;

	/*set center*/
	margin-left: auto;
	margin-right: auto;
	display: block;
}