body {
  background: #141e27 url('../img/bg.png');
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
#tutorial-iframe {
  width: 70%;
  height: 90%;
  margin: 0 0 0 0;
  padding: 2% 15%;
  position: absolute;
  z-index: 200;
  display: none;
}
#game {
  width: 960px;
  margin: 10px auto 0;
  position: relative;
}
#game-canvas {
  display: block;
  position: absolute;
  z-index: 2;
  -webkit-box-shadow: 0px 2px 6px rgba(20, 20, 20, 0.5);
  -moz-box-shadow: 0px 2px 6px rgba(20, 20, 20, 0.5);
  box-shadow: 0px 2px 6px rgba(20, 20, 20, 0.5);
}
#back-canvas {
  position: absolute;
  z-index: 1;
}
#welcome {
  display: none;
  width: 960px;
  height: 600px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  z-index: 199;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
#welcome h1 {
  text-shadow: 0 2px 6px rgba(20, 20, 20, 0.5);
  font-size: 4em;
  margin: 150px 0 40px;
}
#welcome p {
  text-shadow: 0 2px 6px rgba(20, 20, 20, 0.5);
  font-size: 1.5em;
  margin: 20px 0;
}
#welcome button {
  color: #fff;
  font-size: 2em;
  padding: 10px 20px;
  -webkit-border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 10px;
  -moz-background-clip: padding;
  border-radius: 10px;
  background-clip: padding-box;
  background: none;
  border: 2px solid #fff;
}
#welcome button:hover,
#welcome button:active {
  color: #000000;
  background-color: #fff;
}
#game-over {
  display: none;
  width: 960px;
  height: 600px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  z-index: 199;
  color: #fff;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.5);
}
#game-over h1 {
  text-shadow: 0 2px 6px rgba(20, 20, 20, 0.5);
  font-size: 4em;
  margin: 150px 0 80px;
}
#game-over button {
  color: #fff;
  font-size: 2em;
  padding: 10px 20px;
  -webkit-border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 10px;
  -moz-background-clip: padding;
  border-radius: 10px;
  background-clip: padding-box;
  background: none;
  border: 2px solid #fff;
}
#game-over button:hover,
#game-over button:active {
  color: #bb0000;
  background-color: #fff;
}
#tooltip {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  z-index: 299;
  width: 250px;
  padding: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  display: none;
}
#tooltip em {
  font-size: 0.8em;
}
#how-to-play {
  color: white;
  padding: 20px;
}
#btn-bar {
  padding: 3px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
#btn-bar button {
  position: relative;
  background-image: url('../img/sprite/button.png');
  border: 0;
  width: 32px;
  height: 32px;
  margin: 2px;
  padding: 0;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  outline: 0;
}
#btn-bar .hover-catcher {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}
#btn-laser-tower {
  background-position: 0 0;
}
#btn-laser-tower:hover {
  background-position: 0 -32px;
}
#btn-laser-tower:active,
#btn-laser-tower[data-activated] {
  background-position: 0 -64px;
}
#btn-laser-tower[disabled] {
  background-position: 0 -96px;
}
#btn-cheung-kong {
  background-position: -32px 0;
}
#btn-cheung-kong:hover {
  background-position: -32px -32px;
}
#btn-cheung-kong:active,
#btn-cheung-kong[data-activated] {
  background-position: -32px -64px;
}
#btn-cheung-kong[disabled] {
  background-position: -32px -96px;
}
#btn-freeze-tower {
  background-position: -64px 0;
}
#btn-freeze-tower:hover {
  background-position: -64px -32px;
}
#btn-freeze-tower:active,
#btn-freeze-tower[data-activated] {
  background-position: -64px -64px;
}
#btn-freeze-tower[disabled] {
  background-position: -64px -96px;
}
#btn-repel-tower {
  background-position: -96px 0;
}
#btn-repel-tower:hover {
  background-position: -96px -32px;
}
#btn-repel-tower:active,
#btn-repel-tower[data-activated] {
  background-position: -96px -64px;
}
#btn-repel-tower[disabled] {
  background-position: -96px -96px;
}
#btn-power-plant {
  background-position: -128px 0;
}
#btn-power-plant:hover {
  background-position: -128px -32px;
}
#btn-power-plant:active,
#btn-power-plant[data-activated] {
  background-position: -128px -64px;
}
#btn-power-plant[disabled] {
  background-position: -128px -96px;
}
#btn-nuclear-plant {
  background-position: -160px 0;
}
#btn-nuclear-plant:hover {
  background-position: -160px -32px;
}
#btn-nuclear-plant:active,
#btn-nuclear-plant[data-activated] {
  background-position: -160px -64px;
}
#btn-nuclear-plant[disabled] {
  background-position: -160px -96px;
}
#btn-university {
  background-position: -192px 0;
}
#btn-university:hover {
  background-position: -192px -32px;
}
#btn-university:active,
#btn-university[data-activated] {
  background-position: -192px -64px;
}
#btn-university[disabled] {
  background-position: -192px -96px;
}
#btn-research-center {
  background-position: -224px 0;
}
#btn-research-center:hover {
  background-position: -224px -32px;
}
#btn-research-center:active,
#btn-research-center[data-activated] {
  background-position: -224px -64px;
}
#btn-research-center[disabled] {
  background-position: -224px -96px;
}
#score-bar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  display: inline-block;
  font-size: 1.25em;
  color: #fff;
  margin: 5px;
  padding: 5px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 100px;
}
#score-bar hr {
  border-top: 1px dotted #fff;
  border-right: none;
  border-bottom: none;
  border-left: none;
  margin: 3px 0 0;
}
#score-bar .title {
  font-size: 0.5em;
  font-style: italic;
}
#power-bar-base {
  width: 100%;
  height: 10px;
  background-color: #000;
  border: 1px solid #fff;
  padding: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#power-bar {
  width: 100%;
  height: 6px;
  background-color: #00cc00;
}
.title-danger {
  color: #ff4d4d;
}
