#control-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: @game-width;
	z-index: 9999;

	div {
		margin: 5px;
		display: inline-block;
	}

	button {
		background-image: url('../img/sprite/button.png');
		border: 0;
		width: @btn-width;
		height: @btn-height;
		padding: 0;
		font: 0/0 a;
		color: transparent;
		text-shadow: none;
		background-color: transparent;
		outline: 0;
	}

	p {
		display: inline-block;
		color: #fff;
		margin: 5px;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	}
}

#btn-power-plant {
	.btn(0);
}
#btn-pause {
	.btn(-32px);
}

.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.clearfix {
	*zoom: 1;
	&:before,
	&:after {
		display: table;
		content: "";
		// Fixes Opera/contenteditable bug:
		// http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
		line-height: 0;
	}
	&:after {
		clear: both;
	}
}


// Mixin for button rollover
.btn(@pos-x) {
	background-position: @pos-x @btn-normal-y;
	&:hover {
		background-position: @pos-x @btn-hover-y;
	}
	&:active {
		background-position: @pos-x @btn-active-y;
	}
	&[disabled] {
		background-position: @pos-x @btn-disabled-y;
	}
}